In [1]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas
import pandas as pd
np.set_printoptions(precision=4, threshold=500)
pd.options.display.max_rows = 100

%matplotlib inline

In [2]:
main_activitystream_cmdb = pd.read_csv('test/sla/main_activitystream_cmdb_201810131521.csv')
main_activitystream = pd.read_csv('test/sla/main_activitystream_201810131522.csv')

In [3]:
ndata = pd.merge(main_activitystream_cmdb, main_activitystream,
                 left_on='activitystream_id',
                 right_on='id')

In [4]:
df_b = ndata[['cmdb_id', 'timestamp', 'changes']][
    (ndata['cmdb_id'] == 1) 
    & (ndata['timestamp'] > '2018-10-01 00:00:00')
    & (ndata['timestamp'] < '2018-10-31 23:59:59')
    & (ndata['changes'].str.contains('asset_status'))
].sort_values(by='timestamp', ascending=False)
df_b

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cmdb_id</th>
      <th>timestamp</th>
      <th>changes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>818</th>
      <td>1</td>
      <td>2018-10-12 11:59:00</td>
      <td>{"asset_status": ["not_owned_by_dxc", "active"]}</td>
    </tr>
    <tr>
      <th>817</th>
      <td>1</td>
      <td>2018-10-12 11:56:21</td>
      <td>{"asset_status": ["decommissioned", "not_owned...</td>
    </tr>
    <tr>
      <th>816</th>
      <td>1</td>
      <td>2018-10-12 11:54:57</td>
      <td>{"asset_status": ["deactive", "decommissioned"]}</td>
    </tr>
    <tr>
      <th>815</th>
      <td>1</td>
      <td>2018-10-12 11:53:27</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
    </tr>
    <tr>
      <th>812</th>
      <td>1</td>
      <td>2018-10-12 10:11:01</td>
      <td>{"asset_status": ["not_owned_by_dxc", "active"]}</td>
    </tr>
    <tr>
      <th>811</th>
      <td>1</td>
      <td>2018-10-12 10:10:33</td>
      <td>{"asset_status": ["decommissioned", "not_owned...</td>
    </tr>
    <tr>
      <th>806</th>
      <td>1</td>
      <td>2018-10-11 17:14:59</td>
      <td>{"asset_status": ["active", "decommissioned"]}</td>
    </tr>
    <tr>
      <th>803</th>
      <td>1</td>
      <td>2018-10-11 16:51:40</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
    </tr>
    <tr>
      <th>802</th>
      <td>1</td>
      <td>2018-10-11 14:52:45</td>
      <td>{"asset_status": ["decommissioned", "deactive"]}</td>
    </tr>
    <tr>
      <th>801</th>
      <td>1</td>
      <td>2018-10-11 14:51:40</td>
      <td>{"asset_status": ["implementing", "decommissio...</td>
    </tr>
    <tr>
      <th>800</th>
      <td>1</td>
      <td>2018-10-11 14:50:24</td>
      <td>{"de_time": ["1", 0], "asset_status": ["active...</td>
    </tr>
    <tr>
      <th>799</th>
      <td>1</td>
      <td>2018-10-11 14:47:57</td>
      <td>{"de_time": ["0", 1], "asset_status": ["deacti...</td>
    </tr>
    <tr>
      <th>798</th>
      <td>1</td>
      <td>2018-10-11 14:46:37</td>
      <td>{"asset_status": ["active", "deactive"], "ac_t...</td>
    </tr>
    <tr>
      <th>797</th>
      <td>1</td>
      <td>2018-10-11 14:38:40</td>
      <td>{"asset_status": ["implementing", "active"], "...</td>
    </tr>
    <tr>
      <th>796</th>
      <td>1</td>
      <td>2018-10-11 14:37:17</td>
      <td>{"asset_status": ["active", "implementing"], "...</td>
    </tr>
    <tr>
      <th>795</th>
      <td>1</td>
      <td>2018-10-11 14:36:49</td>
      <td>{"asset_status": ["implementing", "active"], "...</td>
    </tr>
    <tr>
      <th>794</th>
      <td>1</td>
      <td>2018-10-11 14:32:07</td>
      <td>{"asset_status": ["active", "implementing"], "...</td>
    </tr>
    <tr>
      <th>793</th>
      <td>1</td>
      <td>2018-10-11 13:59:15</td>
      <td>{"asset_status": ["deactive", "active"], "ac_t...</td>
    </tr>
    <tr>
      <th>792</th>
      <td>1</td>
      <td>2018-10-11 13:58:47</td>
      <td>{"asset_status": ["active", "deactive"], "ac_t...</td>
    </tr>
    <tr>
      <th>791</th>
      <td>1</td>
      <td>2018-10-11 13:58:30</td>
      <td>{"asset_status": ["", "active"], "ac_time": ["...</td>
    </tr>
    <tr>
      <th>790</th>
      <td>1</td>
      <td>2018-10-11 13:47:12</td>
      <td>{"asset_status": ["active", ""]}</td>
    </tr>
    <tr>
      <th>789</th>
      <td>1</td>
      <td>2018-10-11 13:46:46</td>
      <td>{"asset_status": ["implementing", "active"]}</td>
    </tr>
    <tr>
      <th>788</th>
      <td>1</td>
      <td>2018-10-11 13:46:27</td>
      <td>{"asset_status": ["deactive", "implementing"]}</td>
    </tr>
    <tr>
      <th>787</th>
      <td>1</td>
      <td>2018-10-11 13:45:56</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
    </tr>
    <tr>
      <th>786</th>
      <td>1</td>
      <td>2018-10-11 13:45:19</td>
      <td>{"asset_status": ["", "active"]}</td>
    </tr>
    <tr>
      <th>785</th>
      <td>1</td>
      <td>2018-10-11 11:36:30</td>
      <td>{"asset_status": ["deactive", ""]}</td>
    </tr>
    <tr>
      <th>784</th>
      <td>1</td>
      <td>2018-10-11 11:34:09</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
    </tr>
    <tr>
      <th>783</th>
      <td>1</td>
      <td>2018-10-11 11:28:55</td>
      <td>{"asset_status": ["implementing", "active"]}</td>
    </tr>
    <tr>
      <th>782</th>
      <td>1</td>
      <td>2018-10-11 11:27:00</td>
      <td>{"asset_status": ["active", "implementing"]}</td>
    </tr>
    <tr>
      <th>781</th>
      <td>1</td>
      <td>2018-10-11 11:25:07</td>
      <td>{"asset_status": ["implementing", "active"]}</td>
    </tr>
    <tr>
      <th>780</th>
      <td>1</td>
      <td>2018-10-11 11:20:31</td>
      <td>{"asset_status": ["active", "implementing"]}</td>
    </tr>
    <tr>
      <th>779</th>
      <td>1</td>
      <td>2018-10-11 11:17:39</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
    </tr>
    <tr>
      <th>778</th>
      <td>1</td>
      <td>2018-10-11 11:16:18</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
    </tr>
    <tr>
      <th>777</th>
      <td>1</td>
      <td>2018-10-11 11:14:46</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
    </tr>
    <tr>
      <th>776</th>
      <td>1</td>
      <td>2018-10-11 11:14:14</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
    </tr>
    <tr>
      <th>775</th>
      <td>1</td>
      <td>2018-10-11 11:10:22</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
    </tr>
    <tr>
      <th>774</th>
      <td>1</td>
      <td>2018-10-11 11:09:26</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
    </tr>
    <tr>
      <th>773</th>
      <td>1</td>
      <td>2018-10-11 11:00:18</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
    </tr>
    <tr>
      <th>772</th>
      <td>1</td>
      <td>2018-10-11 10:51:34</td>
      <td>{"asset_status": ["active", "deactive"], "ac_t...</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
delta_seconds = ((pd.to_datetime(df_b['timestamp'].shift(1)) - pd.to_datetime(df_b['timestamp'])).shift(-1)).astype('timedelta64[s]')
df_b['time_interval'] = delta_seconds
df_b

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cmdb_id</th>
      <th>timestamp</th>
      <th>changes</th>
      <th>time_interval</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>818</th>
      <td>1</td>
      <td>2018-10-12 11:59:00</td>
      <td>{"asset_status": ["not_owned_by_dxc", "active"]}</td>
      <td>159.0</td>
    </tr>
    <tr>
      <th>817</th>
      <td>1</td>
      <td>2018-10-12 11:56:21</td>
      <td>{"asset_status": ["decommissioned", "not_owned...</td>
      <td>84.0</td>
    </tr>
    <tr>
      <th>816</th>
      <td>1</td>
      <td>2018-10-12 11:54:57</td>
      <td>{"asset_status": ["deactive", "decommissioned"]}</td>
      <td>90.0</td>
    </tr>
    <tr>
      <th>815</th>
      <td>1</td>
      <td>2018-10-12 11:53:27</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
      <td>6146.0</td>
    </tr>
    <tr>
      <th>812</th>
      <td>1</td>
      <td>2018-10-12 10:11:01</td>
      <td>{"asset_status": ["not_owned_by_dxc", "active"]}</td>
      <td>28.0</td>
    </tr>
    <tr>
      <th>811</th>
      <td>1</td>
      <td>2018-10-12 10:10:33</td>
      <td>{"asset_status": ["decommissioned", "not_owned...</td>
      <td>60934.0</td>
    </tr>
    <tr>
      <th>806</th>
      <td>1</td>
      <td>2018-10-11 17:14:59</td>
      <td>{"asset_status": ["active", "decommissioned"]}</td>
      <td>1399.0</td>
    </tr>
    <tr>
      <th>803</th>
      <td>1</td>
      <td>2018-10-11 16:51:40</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
      <td>7135.0</td>
    </tr>
    <tr>
      <th>802</th>
      <td>1</td>
      <td>2018-10-11 14:52:45</td>
      <td>{"asset_status": ["decommissioned", "deactive"]}</td>
      <td>65.0</td>
    </tr>
    <tr>
      <th>801</th>
      <td>1</td>
      <td>2018-10-11 14:51:40</td>
      <td>{"asset_status": ["implementing", "decommissio...</td>
      <td>76.0</td>
    </tr>
    <tr>
      <th>800</th>
      <td>1</td>
      <td>2018-10-11 14:50:24</td>
      <td>{"de_time": ["1", 0], "asset_status": ["active...</td>
      <td>147.0</td>
    </tr>
    <tr>
      <th>799</th>
      <td>1</td>
      <td>2018-10-11 14:47:57</td>
      <td>{"de_time": ["0", 1], "asset_status": ["deacti...</td>
      <td>80.0</td>
    </tr>
    <tr>
      <th>798</th>
      <td>1</td>
      <td>2018-10-11 14:46:37</td>
      <td>{"asset_status": ["active", "deactive"], "ac_t...</td>
      <td>477.0</td>
    </tr>
    <tr>
      <th>797</th>
      <td>1</td>
      <td>2018-10-11 14:38:40</td>
      <td>{"asset_status": ["implementing", "active"], "...</td>
      <td>83.0</td>
    </tr>
    <tr>
      <th>796</th>
      <td>1</td>
      <td>2018-10-11 14:37:17</td>
      <td>{"asset_status": ["active", "implementing"], "...</td>
      <td>28.0</td>
    </tr>
    <tr>
      <th>795</th>
      <td>1</td>
      <td>2018-10-11 14:36:49</td>
      <td>{"asset_status": ["implementing", "active"], "...</td>
      <td>282.0</td>
    </tr>
    <tr>
      <th>794</th>
      <td>1</td>
      <td>2018-10-11 14:32:07</td>
      <td>{"asset_status": ["active", "implementing"], "...</td>
      <td>1972.0</td>
    </tr>
    <tr>
      <th>793</th>
      <td>1</td>
      <td>2018-10-11 13:59:15</td>
      <td>{"asset_status": ["deactive", "active"], "ac_t...</td>
      <td>28.0</td>
    </tr>
    <tr>
      <th>792</th>
      <td>1</td>
      <td>2018-10-11 13:58:47</td>
      <td>{"asset_status": ["active", "deactive"], "ac_t...</td>
      <td>17.0</td>
    </tr>
    <tr>
      <th>791</th>
      <td>1</td>
      <td>2018-10-11 13:58:30</td>
      <td>{"asset_status": ["", "active"], "ac_time": ["...</td>
      <td>678.0</td>
    </tr>
    <tr>
      <th>790</th>
      <td>1</td>
      <td>2018-10-11 13:47:12</td>
      <td>{"asset_status": ["active", ""]}</td>
      <td>26.0</td>
    </tr>
    <tr>
      <th>789</th>
      <td>1</td>
      <td>2018-10-11 13:46:46</td>
      <td>{"asset_status": ["implementing", "active"]}</td>
      <td>19.0</td>
    </tr>
    <tr>
      <th>788</th>
      <td>1</td>
      <td>2018-10-11 13:46:27</td>
      <td>{"asset_status": ["deactive", "implementing"]}</td>
      <td>31.0</td>
    </tr>
    <tr>
      <th>787</th>
      <td>1</td>
      <td>2018-10-11 13:45:56</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
      <td>37.0</td>
    </tr>
    <tr>
      <th>786</th>
      <td>1</td>
      <td>2018-10-11 13:45:19</td>
      <td>{"asset_status": ["", "active"]}</td>
      <td>7729.0</td>
    </tr>
    <tr>
      <th>785</th>
      <td>1</td>
      <td>2018-10-11 11:36:30</td>
      <td>{"asset_status": ["deactive", ""]}</td>
      <td>141.0</td>
    </tr>
    <tr>
      <th>784</th>
      <td>1</td>
      <td>2018-10-11 11:34:09</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
      <td>314.0</td>
    </tr>
    <tr>
      <th>783</th>
      <td>1</td>
      <td>2018-10-11 11:28:55</td>
      <td>{"asset_status": ["implementing", "active"]}</td>
      <td>115.0</td>
    </tr>
    <tr>
      <th>782</th>
      <td>1</td>
      <td>2018-10-11 11:27:00</td>
      <td>{"asset_status": ["active", "implementing"]}</td>
      <td>113.0</td>
    </tr>
    <tr>
      <th>781</th>
      <td>1</td>
      <td>2018-10-11 11:25:07</td>
      <td>{"asset_status": ["implementing", "active"]}</td>
      <td>276.0</td>
    </tr>
    <tr>
      <th>780</th>
      <td>1</td>
      <td>2018-10-11 11:20:31</td>
      <td>{"asset_status": ["active", "implementing"]}</td>
      <td>172.0</td>
    </tr>
    <tr>
      <th>779</th>
      <td>1</td>
      <td>2018-10-11 11:17:39</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
      <td>81.0</td>
    </tr>
    <tr>
      <th>778</th>
      <td>1</td>
      <td>2018-10-11 11:16:18</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
      <td>92.0</td>
    </tr>
    <tr>
      <th>777</th>
      <td>1</td>
      <td>2018-10-11 11:14:46</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
      <td>32.0</td>
    </tr>
    <tr>
      <th>776</th>
      <td>1</td>
      <td>2018-10-11 11:14:14</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
      <td>232.0</td>
    </tr>
    <tr>
      <th>775</th>
      <td>1</td>
      <td>2018-10-11 11:10:22</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
      <td>56.0</td>
    </tr>
    <tr>
      <th>774</th>
      <td>1</td>
      <td>2018-10-11 11:09:26</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
      <td>548.0</td>
    </tr>
    <tr>
      <th>773</th>
      <td>1</td>
      <td>2018-10-11 11:00:18</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
      <td>524.0</td>
    </tr>
    <tr>
      <th>772</th>
      <td>1</td>
      <td>2018-10-11 10:51:34</td>
      <td>{"asset_status": ["active", "deactive"], "ac_t...</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
import json

def convert_status(df):
    js = json.loads(df['changes'])
    return js.get('asset_status')[0]

df_b['asset_status'] = df_b.apply(lambda x: convert_status(x), axis=1)
df_b

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cmdb_id</th>
      <th>timestamp</th>
      <th>changes</th>
      <th>time_interval</th>
      <th>asset_status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>818</th>
      <td>1</td>
      <td>2018-10-12 11:59:00</td>
      <td>{"asset_status": ["not_owned_by_dxc", "active"]}</td>
      <td>159.0</td>
      <td>not_owned_by_dxc</td>
    </tr>
    <tr>
      <th>817</th>
      <td>1</td>
      <td>2018-10-12 11:56:21</td>
      <td>{"asset_status": ["decommissioned", "not_owned...</td>
      <td>84.0</td>
      <td>decommissioned</td>
    </tr>
    <tr>
      <th>816</th>
      <td>1</td>
      <td>2018-10-12 11:54:57</td>
      <td>{"asset_status": ["deactive", "decommissioned"]}</td>
      <td>90.0</td>
      <td>deactive</td>
    </tr>
    <tr>
      <th>815</th>
      <td>1</td>
      <td>2018-10-12 11:53:27</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
      <td>6146.0</td>
      <td>active</td>
    </tr>
    <tr>
      <th>812</th>
      <td>1</td>
      <td>2018-10-12 10:11:01</td>
      <td>{"asset_status": ["not_owned_by_dxc", "active"]}</td>
      <td>28.0</td>
      <td>not_owned_by_dxc</td>
    </tr>
    <tr>
      <th>811</th>
      <td>1</td>
      <td>2018-10-12 10:10:33</td>
      <td>{"asset_status": ["decommissioned", "not_owned...</td>
      <td>60934.0</td>
      <td>decommissioned</td>
    </tr>
    <tr>
      <th>806</th>
      <td>1</td>
      <td>2018-10-11 17:14:59</td>
      <td>{"asset_status": ["active", "decommissioned"]}</td>
      <td>1399.0</td>
      <td>active</td>
    </tr>
    <tr>
      <th>803</th>
      <td>1</td>
      <td>2018-10-11 16:51:40</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
      <td>7135.0</td>
      <td>deactive</td>
    </tr>
    <tr>
      <th>802</th>
      <td>1</td>
      <td>2018-10-11 14:52:45</td>
      <td>{"asset_status": ["decommissioned", "deactive"]}</td>
      <td>65.0</td>
      <td>decommissioned</td>
    </tr>
    <tr>
      <th>801</th>
      <td>1</td>
      <td>2018-10-11 14:51:40</td>
      <td>{"asset_status": ["implementing", "decommissio...</td>
      <td>76.0</td>
      <td>implementing</td>
    </tr>
    <tr>
      <th>800</th>
      <td>1</td>
      <td>2018-10-11 14:50:24</td>
      <td>{"de_time": ["1", 0], "asset_status": ["active...</td>
      <td>147.0</td>
      <td>active</td>
    </tr>
    <tr>
      <th>799</th>
      <td>1</td>
      <td>2018-10-11 14:47:57</td>
      <td>{"de_time": ["0", 1], "asset_status": ["deacti...</td>
      <td>80.0</td>
      <td>deactive</td>
    </tr>
    <tr>
      <th>798</th>
      <td>1</td>
      <td>2018-10-11 14:46:37</td>
      <td>{"asset_status": ["active", "deactive"], "ac_t...</td>
      <td>477.0</td>
      <td>active</td>
    </tr>
    <tr>
      <th>797</th>
      <td>1</td>
      <td>2018-10-11 14:38:40</td>
      <td>{"asset_status": ["implementing", "active"], "...</td>
      <td>83.0</td>
      <td>implementing</td>
    </tr>
    <tr>
      <th>796</th>
      <td>1</td>
      <td>2018-10-11 14:37:17</td>
      <td>{"asset_status": ["active", "implementing"], "...</td>
      <td>28.0</td>
      <td>active</td>
    </tr>
    <tr>
      <th>795</th>
      <td>1</td>
      <td>2018-10-11 14:36:49</td>
      <td>{"asset_status": ["implementing", "active"], "...</td>
      <td>282.0</td>
      <td>implementing</td>
    </tr>
    <tr>
      <th>794</th>
      <td>1</td>
      <td>2018-10-11 14:32:07</td>
      <td>{"asset_status": ["active", "implementing"], "...</td>
      <td>1972.0</td>
      <td>active</td>
    </tr>
    <tr>
      <th>793</th>
      <td>1</td>
      <td>2018-10-11 13:59:15</td>
      <td>{"asset_status": ["deactive", "active"], "ac_t...</td>
      <td>28.0</td>
      <td>deactive</td>
    </tr>
    <tr>
      <th>792</th>
      <td>1</td>
      <td>2018-10-11 13:58:47</td>
      <td>{"asset_status": ["active", "deactive"], "ac_t...</td>
      <td>17.0</td>
      <td>active</td>
    </tr>
    <tr>
      <th>791</th>
      <td>1</td>
      <td>2018-10-11 13:58:30</td>
      <td>{"asset_status": ["", "active"], "ac_time": ["...</td>
      <td>678.0</td>
      <td></td>
    </tr>
    <tr>
      <th>790</th>
      <td>1</td>
      <td>2018-10-11 13:47:12</td>
      <td>{"asset_status": ["active", ""]}</td>
      <td>26.0</td>
      <td>active</td>
    </tr>
    <tr>
      <th>789</th>
      <td>1</td>
      <td>2018-10-11 13:46:46</td>
      <td>{"asset_status": ["implementing", "active"]}</td>
      <td>19.0</td>
      <td>implementing</td>
    </tr>
    <tr>
      <th>788</th>
      <td>1</td>
      <td>2018-10-11 13:46:27</td>
      <td>{"asset_status": ["deactive", "implementing"]}</td>
      <td>31.0</td>
      <td>deactive</td>
    </tr>
    <tr>
      <th>787</th>
      <td>1</td>
      <td>2018-10-11 13:45:56</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
      <td>37.0</td>
      <td>active</td>
    </tr>
    <tr>
      <th>786</th>
      <td>1</td>
      <td>2018-10-11 13:45:19</td>
      <td>{"asset_status": ["", "active"]}</td>
      <td>7729.0</td>
      <td></td>
    </tr>
    <tr>
      <th>785</th>
      <td>1</td>
      <td>2018-10-11 11:36:30</td>
      <td>{"asset_status": ["deactive", ""]}</td>
      <td>141.0</td>
      <td>deactive</td>
    </tr>
    <tr>
      <th>784</th>
      <td>1</td>
      <td>2018-10-11 11:34:09</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
      <td>314.0</td>
      <td>active</td>
    </tr>
    <tr>
      <th>783</th>
      <td>1</td>
      <td>2018-10-11 11:28:55</td>
      <td>{"asset_status": ["implementing", "active"]}</td>
      <td>115.0</td>
      <td>implementing</td>
    </tr>
    <tr>
      <th>782</th>
      <td>1</td>
      <td>2018-10-11 11:27:00</td>
      <td>{"asset_status": ["active", "implementing"]}</td>
      <td>113.0</td>
      <td>active</td>
    </tr>
    <tr>
      <th>781</th>
      <td>1</td>
      <td>2018-10-11 11:25:07</td>
      <td>{"asset_status": ["implementing", "active"]}</td>
      <td>276.0</td>
      <td>implementing</td>
    </tr>
    <tr>
      <th>780</th>
      <td>1</td>
      <td>2018-10-11 11:20:31</td>
      <td>{"asset_status": ["active", "implementing"]}</td>
      <td>172.0</td>
      <td>active</td>
    </tr>
    <tr>
      <th>779</th>
      <td>1</td>
      <td>2018-10-11 11:17:39</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
      <td>81.0</td>
      <td>deactive</td>
    </tr>
    <tr>
      <th>778</th>
      <td>1</td>
      <td>2018-10-11 11:16:18</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
      <td>92.0</td>
      <td>active</td>
    </tr>
    <tr>
      <th>777</th>
      <td>1</td>
      <td>2018-10-11 11:14:46</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
      <td>32.0</td>
      <td>deactive</td>
    </tr>
    <tr>
      <th>776</th>
      <td>1</td>
      <td>2018-10-11 11:14:14</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
      <td>232.0</td>
      <td>active</td>
    </tr>
    <tr>
      <th>775</th>
      <td>1</td>
      <td>2018-10-11 11:10:22</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
      <td>56.0</td>
      <td>deactive</td>
    </tr>
    <tr>
      <th>774</th>
      <td>1</td>
      <td>2018-10-11 11:09:26</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
      <td>548.0</td>
      <td>active</td>
    </tr>
    <tr>
      <th>773</th>
      <td>1</td>
      <td>2018-10-11 11:00:18</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
      <td>524.0</td>
      <td>deactive</td>
    </tr>
    <tr>
      <th>772</th>
      <td>1</td>
      <td>2018-10-11 10:51:34</td>
      <td>{"asset_status": ["active", "deactive"], "ac_t...</td>
      <td>NaN</td>
      <td>active</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
df_e = df_b.groupby('asset_status')['time_interval'].sum()
active = df_e['active']
deactive = df_e['deactive']
sla = round(active / (active + deactive), 4)
sla

0.5884