In [1]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas
import pandas as pd
np.set_printoptions(precision=4, threshold=500)
pd.options.display.max_rows = 100

%matplotlib inline

In [2]:
main_activitystream_cmdb = pd.read_csv('test/data/main_activitystream_cmdb_201810131521.csv')
main_activitystream = pd.read_csv('test/data/main_activitystream_201810131522.csv')

In [3]:
ndata = pd.merge(main_activitystream_cmdb, main_activitystream,
                 left_on='activitystream_id',
                 right_on='id')

In [60]:
# -*- coding: utf-8 -*-
'''
a. 聚合main_activitystream_cmdb和main_activitystream，过滤时间，根据时间排序
实现了以下sql的功能
select * from main_activitystream_cmdb t1 inner join main_activitystream t2
	on t2.id = t1.activitystream_id
	where t1.cmdb_id = 1
	and t2."timestamp" > '2018-10-01 00:00:00'
	and t2."timestamp" < '2018-10-31 23:59:59'
	order by t2."timestamp" desc;
b. changes字段过滤出包含asset_status的数据
'''
df_b = ndata[['cmdb_id', 'timestamp', 'changes']][
    (ndata['cmdb_id'] == 1) 
    & (ndata['timestamp'] > '2018-10-01 00:00:00')
    & (ndata['timestamp'] < '2018-10-31 23:59:59')
    & (ndata['changes'].str.contains('asset_status'))
].sort_values(by='timestamp', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cmdb_id</th>
      <th>timestamp</th>
      <th>changes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>818</th>
      <td>1</td>
      <td>2018-10-12 11:59:00</td>
      <td>{"asset_status": ["not_owned_by_dxc", "active"]}</td>
    </tr>
    <tr>
      <th>817</th>
      <td>1</td>
      <td>2018-10-12 11:56:21</td>
      <td>{"asset_status": ["decommissioned", "not_owned...</td>
    </tr>
    <tr>
      <th>816</th>
      <td>1</td>
      <td>2018-10-12 11:54:57</td>
      <td>{"asset_status": ["deactive", "decommissioned"]}</td>
    </tr>
    <tr>
      <th>815</th>
      <td>1</td>
      <td>2018-10-12 11:53:27</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
    </tr>
    <tr>
      <th>812</th>
      <td>1</td>
      <td>2018-10-12 10:11:01</td>
      <td>{"asset_status": ["not_owned_by_dxc", "active"]}</td>
    </tr>
    <tr>
      <th>811</th>
      <td>1</td>
      <td>2018-10-12 10:10:33</td>
      <td>{"asset_status": ["decommissioned", "not_owned...</td>
    </tr>
    <tr>
      <th>806</th>
      <td>1</td>
      <td>2018-10-11 17:14:59</td>
      <td>{"asset_status": ["active", "decommissioned"]}</td>
    </tr>
    <tr>
      <th>803</th>
      <td>1</td>
      <td>2018-10-11 16:51:40</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
    </tr>
    <tr>
      <th>802</th>
      <td>1</td>
      <td>2018-10-11 14:52:45</td>
      <td>{"asset_status": ["decommissioned", "deactive"]}</td>
    </tr>
    <tr>
      <th>801</th>
      <td>1</td>
      <td>2018-10-11 14:51:40</td>
      <td>{"asset_status": ["implementing", "decommissio...</td>
    </tr>
    <tr>
      <th>800</th>
      <td>1</td>
      <td>2018-10-11 14:50:24</td>
      <td>{"de_time": ["1", 0], "asset_status": ["active...</td>
    </tr>
    <tr>
      <th>799</th>
      <td>1</td>
      <td>2018-10-11 14:47:57</td>
      <td>{"de_time": ["0", 1], "asset_status": ["deacti...</td>
    </tr>
    <tr>
      <th>798</th>
      <td>1</td>
      <td>2018-10-11 14:46:37</td>
      <td>{"asset_status": ["active", "deactive"], "ac_t...</td>
    </tr>
    <tr>
      <th>797</th>
      <td>1</td>
      <td>2018-10-11 14:38:40</td>
      <td>{"asset_status": ["implementing", "active"], "...</td>
    </tr>
    <tr>
      <th>796</th>
      <td>1</td>
      <td>2018-10-11 14:37:17</td>
      <td>{"asset_status": ["active", "implementing"], "...</td>
    </tr>
    <tr>
      <th>795</th>
      <td>1</td>
      <td>2018-10-11 14:36:49</td>
      <td>{"asset_status": ["implementing", "active"], "...</td>
    </tr>
    <tr>
      <th>794</th>
      <td>1</td>
      <td>2018-10-11 14:32:07</td>
      <td>{"asset_status": ["active", "implementing"], "...</td>
    </tr>
    <tr>
      <th>793</th>
      <td>1</td>
      <td>2018-10-11 13:59:15</td>
      <td>{"asset_status": ["deactive", "active"], "ac_t...</td>
    </tr>
    <tr>
      <th>792</th>
      <td>1</td>
      <td>2018-10-11 13:58:47</td>
      <td>{"asset_status": ["active", "deactive"], "ac_t...</td>
    </tr>
    <tr>
      <th>791</th>
      <td>1</td>
      <td>2018-10-11 13:58:30</td>
      <td>{"asset_status": ["", "active"], "ac_time": ["...</td>
    </tr>
    <tr>
      <th>790</th>
      <td>1</td>
      <td>2018-10-11 13:47:12</td>
      <td>{"asset_status": ["active", ""]}</td>
    </tr>
    <tr>
      <th>789</th>
      <td>1</td>
      <td>2018-10-11 13:46:46</td>
      <td>{"asset_status": ["implementing", "active"]}</td>
    </tr>
    <tr>
      <th>788</th>
      <td>1</td>
      <td>2018-10-11 13:46:27</td>
      <td>{"asset_status": ["deactive", "implementing"]}</td>
    </tr>
    <tr>
      <th>787</th>
      <td>1</td>
      <td>2018-10-11 13:45:56</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
    </tr>
    <tr>
      <th>786</th>
      <td>1</td>
      <td>2018-10-11 13:45:19</td>
      <td>{"asset_status": ["", "active"]}</td>
    </tr>
    <tr>
      <th>785</th>
      <td>1</td>
      <td>2018-10-11 11:36:30</td>
      <td>{"asset_status": ["deactive", ""]}</td>
    </tr>
    <tr>
      <th>784</th>
      <td>1</td>
      <td>2018-10-11 11:34:09</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
    </tr>
    <tr>
      <th>783</th>
      <td>1</td>
      <td>2018-10-11 11:28:55</td>
      <td>{"asset_status": ["implementing", "active"]}</td>
    </tr>
    <tr>
      <th>782</th>
      <td>1</td>
      <td>2018-10-11 11:27:00</td>
      <td>{"asset_status": ["active", "implementing"]}</td>
    </tr>
    <tr>
      <th>781</th>
      <td>1</td>
      <td>2018-10-11 11:25:07</td>
      <td>{"asset_status": ["implementing", "active"]}</td>
    </tr>
    <tr>
      <th>780</th>
      <td>1</td>
      <td>2018-10-11 11:20:31</td>
      <td>{"asset_status": ["active", "implementing"]}</td>
    </tr>
    <tr>
      <th>779</th>
      <td>1</td>
      <td>2018-10-11 11:17:39</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
    </tr>
    <tr>
      <th>778</th>
      <td>1</td>
      <td>2018-10-11 11:16:18</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
    </tr>
    <tr>
      <th>777</th>
      <td>1</td>
      <td>2018-10-11 11:14:46</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
    </tr>
    <tr>
      <th>776</th>
      <td>1</td>
      <td>2018-10-11 11:14:14</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
    </tr>
    <tr>
      <th>775</th>
      <td>1</td>
      <td>2018-10-11 11:10:22</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
    </tr>
    <tr>
      <th>774</th>
      <td>1</td>
      <td>2018-10-11 11:09:26</td>
      <td>{"asset_status": ["active", "deactive"]}</td>
    </tr>
    <tr>
      <th>773</th>
      <td>1</td>
      <td>2018-10-11 11:00:18</td>
      <td>{"asset_status": ["deactive", "active"]}</td>
    </tr>
    <tr>
      <th>772</th>
      <td>1</td>
      <td>2018-10-11 10:51:34</td>
      <td>{"asset_status": ["active", "deactive"], "ac_t...</td>
    </tr>
  </tbody>
</table>
</div>