In [13]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas
import pandas as pd
np.set_printoptions(precision=4, threshold=500)
pd.options.display.max_rows = 100

%matplotlib inline

In [14]:
main_activitystream_cmdb = pd.read_csv('main_activitystream_cmdb_201810131521.csv')
main_activitystream = pd.read_csv('main_activitystream_201810131522.csv')

In [15]:
ndata = pd.merge(main_activitystream_cmdb, main_activitystream,
                 left_on='activitystream_id',
                 right_on='id')

In [16]:
df_b = ndata[['cmdb_id', 'timestamp', 'changes']][
    (ndata['cmdb_id'] == 1) 
    & (ndata['timestamp'] > '2018-10-01 00:00:00')
    & (ndata['timestamp'] < '2018-10-31 23:59:59')
    & (ndata['changes'].str.contains('asset_status'))
].sort_values(by='timestamp', ascending=False)
df_b

,cmdb_id,timestamp,changes
818,1,2018-10-12 11:59:00,"{""asset_status"": [""not_owned_by_dxc"", ""active""]}"
817,1,2018-10-12 11:56:21,"{""asset_status"": [""decommissioned"", ""not_owned..."
816,1,2018-10-12 11:54:57,"{""asset_status"": [""deactive"", ""decommissioned""]}"
815,1,2018-10-12 11:53:27,"{""asset_status"": [""active"", ""deactive""]}"
812,1,2018-10-12 10:11:01,"{""asset_status"": [""not_owned_by_dxc"", ""active""]}"
811,1,2018-10-12 10:10:33,"{""asset_status"": [""decommissioned"", ""not_owned..."
806,1,2018-10-11 17:14:59,"{""asset_status"": [""active"", ""decommissioned""]}"
803,1,2018-10-11 16:51:40,"{""asset_status"": [""deactive"", ""active""]}"
802,1,2018-10-11 14:52:45,"{""asset_status"": [""decommissioned"", ""deactive""]}"
801,1,2018-10-11 14:51:40,"{""asset_status"": [""implementing"", ""decommissio..."
800,1,2018-10-11 14:50:24,"{""de_time"": [""1"", 0], ""asset_status"": [""active..."
799,1,2018-10-11 14:47:57,"{""de_time"": [""0"", 1], ""asset_status"": [""deacti..."
798,1,2018-10-11 14:46:37,"{""asset_status"": [""active"", ""deactive""], ""ac_t..."
797,1,2018-10-11 14:38:40,"{""asset_status"": [""implementing"", ""active""], ""..."
796,1,2018-10-11 14:37:17,"{""asset_status"": [""active"", ""implementing""], ""..."
795,1,2018-10-11 14:36:49,"{""asset_status"": [""implementing"", ""active""], ""..."
794,1,2018-10-11 14:32:07,"{""asset_status"": [""active"", ""implementing""], ""..."
793,1,2018-10-11 13:59:15,"{""asset_status"": [""deactive"", ""active""], ""ac_t..."
792,1,2018-10-11 13:58:47,"{""asset_status"": [""active"", ""deactive""], ""ac_t..."
791,1,2018-10-11 13:58:30,"{""asset_status"": ["""", ""active""], ""ac_time"": [""..."
790,1,2018-10-11 13:47:12,"{""asset_status"": [""active"", """"]}"
789,1,2018-10-11 13:46:46,"{""asset_status"": [""implementing"", ""active""]}"
788,1,2018-10-11 13:46:27,"{""asset_status"": [""deactive"", ""implementing""]}"
787,1,2018-10-11 13:45:56,"{""asset_status"": [""active"", ""deactive""]}"
786,1,2018-10-11 13:45:19,"{""asset_status"": ["""", ""active""]}"
785,1,2018-10-11 11:36:30,"{""asset_status"": [""deactive"", """"]}"
784,1,2018-10-11 11:34:09,"{""asset_status"": [""active"", ""deactive""]}"
783,1,2018-10-11 11:28:55,"{""asset_status"": [""implementing"", ""active""]}"
782,1,2018-10-11 11:27:00,"{""asset_status"": [""active"", ""implementing""]}"
781,1,2018-10-11 11:25:07,"{""asset_status"": [""implementing"", ""active""]}"
780,1,2018-10-11 11:20:31,"{""asset_status"": [""active"", ""implementing""]}"
779,1,2018-10-11 11:17:39,"{""asset_status"": [""deactive"", ""active""]}"
778,1,2018-10-11 11:16:18,"{""asset_status"": [""active"", ""deactive""]}"
777,1,2018-10-11 11:14:46,"{""asset_status"": [""deactive"", ""active""]}"
776,1,2018-10-11 11:14:14,"{""asset_status"": [""active"", ""deactive""]}"
775,1,2018-10-11 11:10:22,"{""asset_status"": [""deactive"", ""active""]}"
774,1,2018-10-11 11:09:26,"{""asset_status"": [""active"", ""deactive""]}"
773,1,2018-10-11 11:00:18,"{""asset_status"": [""deactive"", ""active""]}"
772,1,2018-10-11 10:51:34,"{""asset_status"": [""active"", ""deactive""], ""ac_t..."

In [9]:
delta_seconds = ((pd.to_datetime(df_b['timestamp'].shift(1)) - pd.to_datetime(df_b['timestamp'])).shift(-1)).astype('timedelta64[s]')
df_b['time_interval'] = delta_seconds
df_b

,cmdb_id,timestamp,changes,time_interval
818,1,2018-10-12 11:59:00,"{""asset_status"": [""not_owned_by_dxc"", ""active""]}",159.0
817,1,2018-10-12 11:56:21,"{""asset_status"": [""decommissioned"", ""not_owned...",84.0
816,1,2018-10-12 11:54:57,"{""asset_status"": [""deactive"", ""decommissioned""]}",90.0
815,1,2018-10-12 11:53:27,"{""asset_status"": [""active"", ""deactive""]}",6146.0
812,1,2018-10-12 10:11:01,"{""asset_status"": [""not_owned_by_dxc"", ""active""]}",28.0
811,1,2018-10-12 10:10:33,"{""asset_status"": [""decommissioned"", ""not_owned...",60934.0
806,1,2018-10-11 17:14:59,"{""asset_status"": [""active"", ""decommissioned""]}",1399.0
803,1,2018-10-11 16:51:40,"{""asset_status"": [""deactive"", ""active""]}",7135.0
802,1,2018-10-11 14:52:45,"{""asset_status"": [""decommissioned"", ""deactive""]}",65.0
801,1,2018-10-11 14:51:40,"{""asset_status"": [""implementing"", ""decommissio...",76.0
800,1,2018-10-11 14:50:24,"{""de_time"": [""1"", 0], ""asset_status"": [""active...",147.0
799,1,2018-10-11 14:47:57,"{""de_time"": [""0"", 1], ""asset_status"": [""deacti...",80.0
798,1,2018-10-11 14:46:37,"{""asset_status"": [""active"", ""deactive""], ""ac_t...",477.0
797,1,2018-10-11 14:38:40,"{""asset_status"": [""implementing"", ""active""], ""...",83.0
796,1,2018-10-11 14:37:17,"{""asset_status"": [""active"", ""implementing""], ""...",28.0
795,1,2018-10-11 14:36:49,"{""asset_status"": [""implementing"", ""active""], ""...",282.0
794,1,2018-10-11 14:32:07,"{""asset_status"": [""active"", ""implementing""], ""...",1972.0
793,1,2018-10-11 13:59:15,"{""asset_status"": [""deactive"", ""active""], ""ac_t...",28.0
792,1,2018-10-11 13:58:47,"{""asset_status"": [""active"", ""deactive""], ""ac_t...",17.0
791,1,2018-10-11 13:58:30,"{""asset_status"": ["""", ""active""], ""ac_time"": [""...",678.0
790,1,2018-10-11 13:47:12,"{""asset_status"": [""active"", """"]}",26.0
789,1,2018-10-11 13:46:46,"{""asset_status"": [""implementing"", ""active""]}",19.0
788,1,2018-10-11 13:46:27,"{""asset_status"": [""deactive"", ""implementing""]}",31.0
787,1,2018-10-11 13:45:56,"{""asset_status"": [""active"", ""deactive""]}",37.0
786,1,2018-10-11 13:45:19,"{""asset_status"": ["""", ""active""]}",7729.0
785,1,2018-10-11 11:36:30,"{""asset_status"": [""deactive"", """"]}",141.0
784,1,2018-10-11 11:34:09,"{""asset_status"": [""active"", ""deactive""]}",314.0
783,1,2018-10-11 11:28:55,"{""asset_status"": [""implementing"", ""active""]}",115.0
782,1,2018-10-11 11:27:00,"{""asset_status"": [""active"", ""implementing""]}",113.0
781,1,2018-10-11 11:25:07,"{""asset_status"": [""implementing"", ""active""]}",276.0
780,1,2018-10-11 11:20:31,"{""asset_status"": [""active"", ""implementing""]}",172.0
779,1,2018-10-11 11:17:39,"{""asset_status"": [""deactive"", ""active""]}",81.0
778,1,2018-10-11 11:16:18,"{""asset_status"": [""active"", ""deactive""]}",92.0
777,1,2018-10-11 11:14:46,"{""asset_status"": [""deactive"", ""active""]}",32.0
776,1,2018-10-11 11:14:14,"{""asset_status"": [""active"", ""deactive""]}",232.0
775,1,2018-10-11 11:10:22,"{""asset_status"": [""deactive"", ""active""]}",56.0
774,1,2018-10-11 11:09:26,"{""asset_status"": [""active"", ""deactive""]}",548.0
773,1,2018-10-11 11:00:18,"{""asset_status"": [""deactive"", ""active""]}",524.0
772,1,2018-10-11 10:51:34,"{""asset_status"": [""active"", ""deactive""], ""ac_t...",NaN

In [11]:
import json

def convert_status(df):
    js = json.loads(df['changes'])
    return js.get('asset_status')[0]

df_b['asset_status'] = df_b.apply(lambda x: convert_status(x), axis=1)
df_b

,cmdb_id,timestamp,changes,time_interval,asset_status
818,1,2018-10-12 11:59:00,"{""asset_status"": [""not_owned_by_dxc"", ""active""]}",159.0,not_owned_by_dxc
817,1,2018-10-12 11:56:21,"{""asset_status"": [""decommissioned"", ""not_owned...",84.0,decommissioned
816,1,2018-10-12 11:54:57,"{""asset_status"": [""deactive"", ""decommissioned""]}",90.0,deactive
815,1,2018-10-12 11:53:27,"{""asset_status"": [""active"", ""deactive""]}",6146.0,active
812,1,2018-10-12 10:11:01,"{""asset_status"": [""not_owned_by_dxc"", ""active""]}",28.0,not_owned_by_dxc
811,1,2018-10-12 10:10:33,"{""asset_status"": [""decommissioned"", ""not_owned...",60934.0,decommissioned
806,1,2018-10-11 17:14:59,"{""asset_status"": [""active"", ""decommissioned""]}",1399.0,active
803,1,2018-10-11 16:51:40,"{""asset_status"": [""deactive"", ""active""]}",7135.0,deactive
802,1,2018-10-11 14:52:45,"{""asset_status"": [""decommissioned"", ""deactive""]}",65.0,decommissioned
801,1,2018-10-11 14:51:40,"{""asset_status"": [""implementing"", ""decommissio...",76.0,implementing
800,1,2018-10-11 14:50:24,"{""de_time"": [""1"", 0], ""asset_status"": [""active...",147.0,active
799,1,2018-10-11 14:47:57,"{""de_time"": [""0"", 1], ""asset_status"": [""deacti...",80.0,deactive
798,1,2018-10-11 14:46:37,"{""asset_status"": [""active"", ""deactive""], ""ac_t...",477.0,active
797,1,2018-10-11 14:38:40,"{""asset_status"": [""implementing"", ""active""], ""...",83.0,implementing
796,1,2018-10-11 14:37:17,"{""asset_status"": [""active"", ""implementing""], ""...",28.0,active
795,1,2018-10-11 14:36:49,"{""asset_status"": [""implementing"", ""active""], ""...",282.0,implementing
794,1,2018-10-11 14:32:07,"{""asset_status"": [""active"", ""implementing""], ""...",1972.0,active
793,1,2018-10-11 13:59:15,"{""asset_status"": [""deactive"", ""active""], ""ac_t...",28.0,deactive
792,1,2018-10-11 13:58:47,"{""asset_status"": [""active"", ""deactive""], ""ac_t...",17.0,active
791,1,2018-10-11 13:58:30,"{""asset_status"": ["""", ""active""], ""ac_time"": [""...",678.0,
790,1,2018-10-11 13:47:12,"{""asset_status"": [""active"", """"]}",26.0,active
789,1,2018-10-11 13:46:46,"{""asset_status"": [""implementing"", ""active""]}",19.0,implementing
788,1,2018-10-11 13:46:27,"{""asset_status"": [""deactive"", ""implementing""]}",31.0,deactive
787,1,2018-10-11 13:45:56,"{""asset_status"": [""active"", ""deactive""]}",37.0,active
786,1,2018-10-11 13:45:19,"{""asset_status"": ["""", ""active""]}",7729.0,
785,1,2018-10-11 11:36:30,"{""asset_status"": [""deactive"", """"]}",141.0,deactive
784,1,2018-10-11 11:34:09,"{""asset_status"": [""active"", ""deactive""]}",314.0,active
783,1,2018-10-11 11:28:55,"{""asset_status"": [""implementing"", ""active""]}",115.0,implementing
782,1,2018-10-11 11:27:00,"{""asset_status"": [""active"", ""implementing""]}",113.0,active
781,1,2018-10-11 11:25:07,"{""asset_status"": [""implementing"", ""active""]}",276.0,implementing
780,1,2018-10-11 11:20:31,"{""asset_status"": [""active"", ""implementing""]}",172.0,active
779,1,2018-10-11 11:17:39,"{""asset_status"": [""deactive"", ""active""]}",81.0,deactive
778,1,2018-10-11 11:16:18,"{""asset_status"": [""active"", ""deactive""]}",92.0,active
777,1,2018-10-11 11:14:46,"{""asset_status"": [""deactive"", ""active""]}",32.0,deactive
776,1,2018-10-11 11:14:14,"{""asset_status"": [""active"", ""deactive""]}",232.0,active
775,1,2018-10-11 11:10:22,"{""asset_status"": [""deactive"", ""active""]}",56.0,deactive
774,1,2018-10-11 11:09:26,"{""asset_status"": [""active"", ""deactive""]}",548.0,active
773,1,2018-10-11 11:00:18,"{""asset_status"": [""deactive"", ""active""]}",524.0,deactive
772,1,2018-10-11 10:51:34,"{""asset_status"": [""active"", ""deactive""], ""ac_t...",NaN,active

In [12]:
df_e = df_b.groupby('asset_status')['time_interval'].sum()
active = df_e['active']
deactive = df_e['deactive']
sla = round(active / (active + deactive), 4)
sla

0.5884