In [ ]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas
import pandas as pd
np.set_printoptions(precision=4, threshold=500)
pd.options.display.max_rows = 100

%matplotlib inline

In [2]:
main_activitystream_cmdb = pd.read_csv('main_activitystream_cmdb_201810131521.csv')
main_activitystream = pd.read_csv('main_activitystream_201810131522.csv')

In [3]:
ndata = pd.merge(main_activitystream_cmdb, main_activitystream,
                 left_on='activitystream_id',
                 right_on='id')

In [5]:
# -*- coding: utf-8 -*-
'''
a. 聚合main_activitystream_cmdb和main_activitystream，过滤时间，根据时间排序
实现了以下sql的功能
select * from main_activitystream_cmdb t1 inner join main_activitystream t2
	on t2.id = t1.activitystream_id
	where t1.cmdb_id = 1
	and t2."timestamp" > '2018-10-01 00:00:00'
	and t2."timestamp" < '2018-10-31 23:59:59'
	order by t2."timestamp" desc;
b. changes字段过滤出包含asset_status的数据
'''
df_b = ndata[['cmdb_id', 'timestamp', 'changes']][
    (ndata['cmdb_id'] == 1) 
    & (ndata['timestamp'] > '2018-10-01 00:00:00')
    & (ndata['timestamp'] < '2018-10-31 23:59:59')
    & (ndata['changes'].str.contains('asset_status'))
].sort_values(by='timestamp', ascending=False)

In [6]:
df_b

818    2018-10-12 11:59:00
817    2018-10-12 11:56:21
816    2018-10-12 11:54:57
815    2018-10-12 11:53:27
812    2018-10-12 10:11:01
811    2018-10-12 10:10:33
806    2018-10-11 17:14:59
803    2018-10-11 16:51:40
802    2018-10-11 14:52:45
801    2018-10-11 14:51:40
800    2018-10-11 14:50:24
799    2018-10-11 14:47:57
798    2018-10-11 14:46:37
797    2018-10-11 14:38:40
796    2018-10-11 14:37:17
795    2018-10-11 14:36:49
794    2018-10-11 14:32:07
793    2018-10-11 13:59:15
792    2018-10-11 13:58:47
791    2018-10-11 13:58:30
790    2018-10-11 13:47:12
789    2018-10-11 13:46:46
788    2018-10-11 13:46:27
787    2018-10-11 13:45:56
786    2018-10-11 13:45:19
785    2018-10-11 11:36:30
784    2018-10-11 11:34:09
783    2018-10-11 11:28:55
782    2018-10-11 11:27:00
781    2018-10-11 11:25:07
780    2018-10-11 11:20:31
779    2018-10-11 11:17:39
778    2018-10-11 11:16:18
777    2018-10-11 11:14:46
776    2018-10-11 11:14:14
775    2018-10-11 11:10:22
774    2018-10-11 11:09:26
773    2018-10-11 11:00:18
772    2018-10-11 10:51:34
Name: timestamp, dtype: object

In [7]:
df_b['timestamp'][:3]

817    2018-10-12 11:56:21
816    2018-10-12 11:54:57
815    2018-10-12 11:53:27
812    2018-10-12 10:11:01
811    2018-10-12 10:10:33
806    2018-10-11 17:14:59
803    2018-10-11 16:51:40
802    2018-10-11 14:52:45
801    2018-10-11 14:51:40
800    2018-10-11 14:50:24
799    2018-10-11 14:47:57
798    2018-10-11 14:46:37
797    2018-10-11 14:38:40
796    2018-10-11 14:37:17
795    2018-10-11 14:36:49
794    2018-10-11 14:32:07
793    2018-10-11 13:59:15
792    2018-10-11 13:58:47
791    2018-10-11 13:58:30
790    2018-10-11 13:47:12
789    2018-10-11 13:46:46
788    2018-10-11 13:46:27
787    2018-10-11 13:45:56
786    2018-10-11 13:45:19
785    2018-10-11 11:36:30
784    2018-10-11 11:34:09
783    2018-10-11 11:28:55
782    2018-10-11 11:27:00
781    2018-10-11 11:25:07
780    2018-10-11 11:20:31
779    2018-10-11 11:17:39
778    2018-10-11 11:16:18
777    2018-10-11 11:14:46
776    2018-10-11 11:14:14
775    2018-10-11 11:10:22
774    2018-10-11 11:09:26
773    2018-10-11 11:00:18
772    2018-10-11 10:51:34
Name: timestamp, dtype: object

In [13]:
df_b['timestamp'].shift(1)[:3]

In [39]:
(pd.to_datetime(df_b['timestamp'].shift(1)) - pd.to_datetime(df_b['timestamp']))[:3]

772    0.0
773    0.0
774    0.0
775    0.0
776    0.0
777    0.0
778    0.0
779    0.0
780    0.0
781    0.0
782    0.0
783    0.0
784    0.0
785    0.0
786    0.0
787    0.0
788    0.0
789    0.0
790    0.0
791    0.0
792    0.0
793    0.0
794    0.0
795    0.0
796    0.0
797    0.0
798    0.0
799    0.0
800    0.0
801    0.0
802    0.0
803    0.0
806    0.0
811    0.0
812    0.0
815    0.0
816    0.0
817    0.0
818    NaN
Name: timestamp, dtype: float64

In [ ]:
(pd.to_datetime(df_b['timestamp'].shift(1)) - pd.to_datetime(df_b['timestamp']))[:3].shift(-1)

772    0.0
773    0.0
774    0.0
775    0.0
776    0.0
777    0.0
778    0.0
779    0.0
780    0.0
781    0.0
782    0.0
783    0.0
784    0.0
785    0.0
786    0.0
787    0.0
788    0.0
789    0.0
790    0.0
791    0.0
792    0.0
793    0.0
794    0.0
795    0.0
796    0.0
797    0.0
798    0.0
799    0.0
800    0.0
801    0.0
802    0.0
803    0.0
806    0.0
811    0.0
812    0.0
815    0.0
816    0.0
817    0.0
818    NaN
Name: timestamp, dtype: float64

In [ ]:
df_b['time_interval'] = (pd.to_datetime(df_b['timestamp'].shift(1)) - pd.to_datetime(df_b['timestamp'])).shift(-1)
df_b